*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1920px;
}

menu {
  margin: 0;
  padding: 0;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
