:root {
  --font-family: sans-serif;
  --menu-button-color: #2b3a4e;
  --active-button-color: #ff4d4d;
  --bg-color-buttonMenu: rgba(255, 77, 77, 0.1);
  --background-page-color: #ffffff;
  --logo-color: #111111;
  --text-color-title: #263141;
  --bg-input-color: #f2f5f9;
  --bg-banner-color: #f2f5f9;
  --text-title-color: #0f1113;
  --text-owner-color: #ff4d4d;
  --button-text-color: #ffffff;
  --button-bg-color: #ff4d4d;
  --bg-category-color: #f2f5f9;
  --bg-carousel-color: #fdfdfd;
  --text-title-productColor: #7e8794;
  --border-color-button: #f2f5f9;
  --bg-color-raiting: #eceeef;
  --bg-color-raitingActive: #ff4d4d;
  --bg-menu-color: #fdfdfd;
  --border-menu-color: #eceeef;
  --text-paragraph-color: #263141;
  --bg-card-color: #F6F7FA;
}
